.search-small-channelItem {
  float: left;
  display: inline-block;
  width: 161px;
  height: 59px;

  .search-smallChannelItem-avatar {
    
  }

  .search-smallChannelItem-verifiedBadge {
    
  }

  .search-smallChannelItem-name {
    
  }

  .search-smallChannelItem-videos {
    
  }
  
  .search-smallChannelItem-followers {
    
  }
}
