.search-small-channelItem {
  float: left;
  display: inline-block;
  width: 161px;
  height: 59px;

  .search-smallChannelItem-avatar {
    width: 40px;
    height: 40px;
  }

  .search-smallChannelItem-verifiedBadge {
    width: 21.42px;
    height: 21.51px;
    background-color: #0066DC;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
  }

  .search-smallChannelItem-name {

  }

  .search-smallChannelItem-videos {

  }
  
  .search-smallChannelItem-followers {

  }
}
