"*":
  "atom-package-deps":
    ignored: []
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-babel"
      "auto-update-packages"
      "hyperclick"
      "pigments"
      "nuclide"
      "js-hyperclick"
      "auto-detect-indentation"
      "busy-signal"
      "intentions"
      "refactor"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".fuse_hidden*"
      ".DS*"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    autoIndent: false
    preferredLineLength: 140
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "b43cee21-9f0c-8d81-ffc4-adce37402810"
  "file-icons": {}
  "highlight-selected":
    showResultsOnScrollBar: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview":
    useGitHubStyle: true
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
  "postcss-sorting":
    checkForConfigFile: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions: {}
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  "seti-ui":
    compactView: true
    fileIcons: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndent: false
    preferredLineLength: 140
".css.scss.source":
  editor:
    preferredLineLength: 140
".js.jsx.source":
  editor:
    preferredLineLength: 140
".reason.source":
  editor:
    preferredLineLength: 110
".sass.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 140
