"*":
  core:
    disabledPackages: [
      "language-babel"
      "auto-update-packages"
      "linter-htmlhint"
      "clipboard-history"
      "seti-icons"
      "hyperclick"
      "prettier-atom"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".fuse_hidden*"
      ".DS*"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    autoIndent: false
    fontSize: 12
    preferredLineLength: 140
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "b43cee21-9f0c-8d81-ffc4-adce37402810"
  "file-icons": {}
  "linter-ui-default":
    panelHeight: 81
  "postcss-sorting":
    checkForConfigFile: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions: {}
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  "seti-ui":
    compactView: true
    fileIcons: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndent: false
    preferredLineLength: 140
".css.scss.source":
  editor:
    preferredLineLength: 140
".js.jsx.source":
  editor:
    preferredLineLength: 140
".sass.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 140
