{#
    THIS TEMPLATE NEEDS:

    insert variable names here
#}

{% helpers ['helper_faq', 'helper_footer'] %}

{% extends "layouts/site.html" %}

{% block title %}Dailymotion - {% trans %}About{% endtrans %}{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css_url('/css/views/about/about.scss') }}">
{% endblock %}

{% block mandatory %}{% endblock %}

{% block scripts_bottom %}
    <script src="https://api.dmcdn.net/all.js"></script>
    <script type="text/javascript" src="{{ js_bundle_url('common') }}"></script>
    <script type="text/javascript" src="{{ js_bundle_url('about') }}"></script>
{% endblock %}

{% block body_class %}{{ parent() }} pg_about responsive-grid{% endblock %}

{% block content %}
    <div id="player_wrapper">
        <div id="player"></div>
    </div>
    <div class="container-centered">
        <div class="row mrg-top-xl">
            <div class="col-sm-12 col-md-8">
                <div class="work_presentation font-lg mrg-btm-lg">
                    <h2 class="page-subtitle">{% trans %}About Dailymotion{% endtrans %}</h2>
                    <p>
                        {{ 'We believe that video is the best way to capture and share life’s incredible variety. This is why at Dailymotion we aim to offer the best video experience:
                        <br/><br/>
A place where you can discover content you love from around the world, live or on demand: sports competitions, music festivals, comedy skits, political debates, fashion shows, gaming live-streams… Our viewers can follow, watch and share the events and the ideas that keep the world surprising and diverse as they happen.
<br/><br/>
A place where video-makers are free to share their world and connect with a passionate audience anywhere, anytime. We care about offering all video-makers the right resources, the cutting edge technology, the flexibility and the visibility they need to inspire, inform and entertain.'|trans|raw }}
                    </p>
                    <br/>
                    <p>
                        {{ 'Dailymotion attracts 300 million users from around the world, who watch 3.5 billion videos on its player each month.'|trans }}
                    </p>
                    <br/>
                    <p>
                        {{ 'For the latest news at Dailymotion, please visit our %s official blog %s.'|trans|format('<a href="' ~ helper_footer.getBlogUrl() ~ '" class="link" target="_blank">','</a>')|raw }}
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 side_box">
                <ul>
                    {% set address = (context.country == 'us') ? 'LOCALIZED_HEADQUARTERS_INFO.us.address' : 'LOCALIZED_HEADQUARTERS_INFO.fr.address' %}
                    {% set phone = context.country == 'us' ? 'LOCALIZED_HEADQUARTERS_INFO.us.phone' : 'LOCALIZED_HEADQUARTERS_INFO.fr.phone' %}
                    <li class="contact center_vertically">
                        <img src="/images/about/mail.svg" height="22" width="22" alt="Contact us via email" />
                        <a href="{{ helper_faq.getFeedbackURL() }}" class="btn btn-primary">{{ 'Contact us'|trans }}</a>
                    </li>
                    <li class="address center_vertically">
                        <img src="/images/about/location.svg" height="22" width="22" alt="Location" />
                        <p>{{ get_config(address)|raw }}</p>
                    </li>
                    <li class="phone center_vertically">
                        <img src="/images/about/phone.svg" height="22" width="22" alt="Phone number" />
                        <p>{{ get_config(phone) }}</p>
                    </li>
                    <li class="legal">
                        <p>
                            <strong>{% trans %}Type of company{% endtrans %}</strong>: <br/>{% trans %}French limited company (société anonyme){% endtrans %}
                        </p>
                        <p>
                            <strong>{% trans %}Trade and Companies Register{% endtrans %}</strong>: <br> Paris - B 483 487 112
                        </p>
                        <p>
                            <strong>{% trans %}Registered office{% endtrans %}</strong>: <br>{{ get_config('HEADQUARTERS_ADDRESS') }}
                        </p>
                        <p>
                            <strong>{% trans %}Chairman{% endtrans %}</strong>: <br>{% trans %}Maxime Saada{% endtrans %}
                        </p>
                        <p>
                            <strong>{% trans %}Website host{% endtrans %}</strong>: <br>Dailymotion, {{ get_config('HEADQUARTERS_ADDRESS') }}. Tel : {{ get_config('LOCALIZED_HEADQUARTERS_INFO.fr.phone') }}
                        </p>
                    </li>
                </ul>

                <div class="work_social_links">
                    <div class="pull-start">
                        <p>{% trans %}Follow us{% endtrans %}</p>
                    </div>
                    <div class="pull-end">
                        <a class="twitter_link" href="http://twitter.com/#!/Dailymotion" target="_blank">
                            <i class="icon icon-twitter"></i>
                        </a>
                        <a class="facebook_link" href="http://www.facebook.com/dailymotion?sk=info" target="_blank">
                            <i class="icon icon-facebook"></i>
                        </a>
                        <a class="tumblr_link center_vertically" href="http://dailymotion.tumblr.com/" target="_blank">
                            <img src="/images/about/tumblr.svg" height="13" width="13" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mrg-top-xl mrg-btm-lg">
            <h2 class="page-subtitle">{% trans %}Our staff{% endtrans %}</h2>
            <div class="staff mrg-btm-lg">
                {% for user in shuffle(staff) %}
                    {% if user.hasAvatar() %}
                        <img class="brd-rad-sm col-sm-1" src="{{ user.avatarURI('80x80') }}" alt="{{ user.login }}" title="{{ user.screenName }}" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
