.a-search__popout {

  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow: scroll;

  &__close {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    width: 11px;
    height: 11px;

    .icon-close-blue {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      cursor: pointer;
      border: none;
      width: 40px;
      font-size: 0.875rem;
      background: url('/images/icons/icon-close-blue.svg') no-repeat center center;
      background-size: 16px;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    max-width: 1000px;
    min-width: 800px;
    width: 100%;
    justify-content: center;
  }

  &__results {
    position: absolute;
    color: rgba(black,.7);
    font-size: 14px;
    left: 10px;
    top: 20px;
  }

  .utils_nav {
    margin-top: 20px;
    width: 1000px;
  }

  .utils_nav .tab > a {
    &:hover {
      color: #0066DC;
    }
  }

  .utils_nav .tab > a {
    padding: 0 0 5px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .utils_nav--horizontal .utils_nav__tabs {
    border-bottom-width: 1px;
  }
  .utils_nav--horizontal .cursor {
    bottom: -1px;
    border-bottom-width: 1px;
  }

}
