.channel-list-small {
  margin-bottom: 20px;
}

.search-all__lists {
  display: flex;
}

.search-all__videos:not(.search-all__videos__no-laylists) {
  margin-right: 40px;
}
.search-all__playlists:not(.search-all__playlists__no-videos) {
  max-width: 270px;
  min-width: 270px;
}

.search-all__playlists__title {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #7F7F7F;
    margin-bottom: 8px;
    margin-top: -6px;
}
