.channel-list-small {
  margin-bottom: 20px;
}

.search-all__lists {
  display: flex;
}

.search-all__videos {
  margin-right: 40px;
}
.search-all__playlists {
  max-width: 270px;
  min-width: 270px;
}

.search-all__playlists__title {
  display: block;
}