.a-search__no-results {

  &__main-header {
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    color: #404040;
  }
  
  &__header {
    text-align: center;
  
    p {
      width: 534px;
      font-size: 14px;
      line-height: 18px;
      color: #7F7F7F;
    }
  }
}
