.a-search__no-results {

  &__header {

    .a-search__no-results__main-header {
      font-size: 19px;
      font-weight: 600;
      line-height: 23px;
      color: #404040;
    }

    p {
      width: 534px;
      font-size: 14px;
      text-align: center;
      line-height: 18px;
      color: #7F7F7F;
    }
  }
}
