.playlist-item-small {

  display: inline-flex;
  flex-direction: column;

  &__thumb {
    position: relative;
    z-index: 2;
    flex: 1;

    img {
      display: block;
      width: 100%;
      max-height: 153px;
    }

    .caption--videos-total {
      top: 7px;
      right: 7px;
    }

    &:after {
      content: '';
      background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.7) 50%, black 100%);
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      top: 60%;
    }
  }

  &__description {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 9px 13px;
    text-align: left;

    > h2 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__channel {
    font-size: 12px;

    .verified-badge {
      margin-left: 5px;
    }
  }


}
