.channel-item {
  display: inline-flex;
  flex-direction: column;

  &__thumbnail {

    & > img {
      opacity: .8;
      width: 100%;
    }
  }
  &__avatar {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }
  }
  &__verifiedBadge {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 29px;
    left: 27px;

    width: 21px;
    height: 21px;
    background-color: #0066DC;
    border: 2px solid #FFFFFF;
    border-radius: 50%;

    .icon-check {
      color: #fff;
      font-size: 10px;
    }
  }
  &__infos{

  }
  &__name{

  }
  &__videos{

  }
  &__followers{

  }
}
