.channel-item {
  display: inline-flex;
  flex-direction: column;

  &__cover {
    width: 100%;
    opacity: .8;
  }
  &__avatar {

  }
  &__verifiedBadge{

  }
  &__infos{

  }
  &__name{

  }
  &__videos{

  }
  &__followers{

  }
}
