.channel-list-small {

  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  padding: 17px 20px;

  &__title {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #7F7F7F;
    margin-bottom: 8px;

    &:hover {
      color: #0066DC;

      .channel-list-small__title-arrow{
        margin: 0 3px;
      }
    }

    .channel-list-small__title-arrow{
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  &__channels {
    display: flex;
    margin: 5px 0;
  }
}
