.tipsy.tipsy-button-dropdown .tipsy-inner ul.tipsy-header
{
    li.separator
    {
        margin: 5px 10px;
    }

    li span
    {
        line-height: 32px;
    }

    li.no-hover
    {
        background-color: transparent;
        cursor: default;
    }
}

.sd_header
{
    position: relative;
    @include padding-start(10px);

    @include media-query(md)
    {
        text-align: center; // Used to center the search bar, which is the only not
                            // floating element
    }

    .sd_header__login,
    a.sd_header__live,
    a.sd_header__upload
    {
        text-transform: uppercase;
    }

    height: global-param('header-height');
    width:100%;
    @include background-color(dm-brand);
    z-index:1000;

    &.sd_header--fixed
    {
        @extend %full-fixed;

        & ~ #topwrapper
        {
            margin-top:global-param('header-height');
        }
    }

    .sd_header__login
    {
        @include margin-end(xl);
        height: 100%;
        @include float(end);
        @include center_vertically('a');

        .sign_in
        {
            @include font-size(xs);
            @include color(white);
        }

        a
        {
            width: 30px;
            height: 30px;
            @include color(white);
        }

        img
        {
            text-decoration: none;
            @include border-radius(2px);
        }

        &:hover span
        {
            text-decoration: underline;
        }
    }

    .sd_header__logo
    {
        position: relative;
        @include float(start);
        height:100%;
        @include margin-end(lg);
        @include center_vertically('img');

        h1
        {
            position:absolute;
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
        }
    }

    .sd_header__search
    {
        @include media-query(false, md)
        {
            width: 35%;
        }

        display: inline-block;
        $input-height: 30px;
        height: 100%;
        @include center_vertically(form);
        font-size: 0; // inline-block issue.
        width: 35%;

        form
        {
            max-width: 600px;
            position: relative;
            width: 100%;
            height: $input-height;

            .autocomplete
            {
                z-index: 300;
                top: $input-height;
                @include border-radius(0 0 2px 2px);
                overflow:hidden;
            }

            .search_iframe_layer
            {
                position:absolute;
            }

            input[name=search]
            {
                outline: none;
                line-height: $input-height;
                height: $input-height;
                width: 100%;
                border: none;
                border-radius:3px;
                @include float(start);
                @include padding(0 xl 0 md);
            }

            button[type=submit]
            {
                position: absolute;
                @include end(0);
                width: 35px;
                height: 100%;
                border: 0;
                background: none;
                cursor: pointer;

                i
                {
                    display: block;
                    @include color(black);
                    @include font-size(14px);
                    @include transition(all 0.2s ease-in);
                }
            }

            #input_search_shadow
            {
                display: none !important;
            }
        }
    }

    .sd_header__buttons
    {
        @include media-query(false, md)
        {
            display: none;
        }

        @include margin-end(lg);
        height:100%;
        @include float(end);
        @include center_vertically('a');

        a
        {
            @include color(white);
            @include font-size(13px);

            & + a
            {
                @include margin-start(lg);
            }
        }

        a.btn
        {
            background-color:transparent;
            @include border(1px, rgba(color(white),0.5));
            border-radius:3px;
            height: 30px;
            line-height: 30px;

            &.sd_header__upload:hover
            {
                border-color: transparent;
                @include background-color(white);
                @include color(dm-brand,true);
            }
        }

        a.sd_header__live
        {
            border: 1px solid transparent;

            &:hover
            {
                @include border(1px, rgba(color(white),0.5));
                @include color(white);
            }

            @include media-query(false, lg)
            {
                @include border(1px, rgba(color(white),0.5));

                &:hover
                {
                    border-color: transparent;
                    @include background-color(white);
                    @include color(dm-brand, true);
                }
            }
        }
    }

    .sd_header__tabs
    {
        @include float(end);
        border-bottom:none;

        >li > a
        {
            @include color(white);
            padding-bottom: 16px;
            @include transition(none);
            border-bottom:solid 6px transparent;

            &:hover
            {
                @include color(white);
            }
        }

        .link-border-color-on-hvr:hover, li.active a
        {
            border-bottom:solid 6px rgba(255,255,255,0.5);
        }
    }

    &.sd_header--black {
      background-color: #000000;
    }
}
