/**
 * Flag in flags.gif
 */
span.flag_ar
{
    background-image: url(/images/nflag/ar.png); /** sprite-ref: flags; */
}
span.flag_at
{
    background-image: url(/images/nflag/at.png); /** sprite-ref: flags; */
}
span.flag_au
{
    background-image: url(/images/nflag/au.png); /** sprite-ref: flags; */
}
span.flag_be
{
    background-image: url(/images/nflag/be.png); /** sprite-ref: flags; */
}
span.flag_br
{
    background-image: url(/images/nflag/br.png); /** sprite-ref: flags; */
}
span.flag_ca
{
    background-image: url(/images/nflag/ca.png); /** sprite-ref: flags; */
}
span.flag_ch
{
    background-image: url(/images/nflag/ch.png); /** sprite-ref: flags; */
}
span.flag_cn,
span.flag_zh
{
    background-image: url(/images/nflag/cn.png); /** sprite-ref: flags; */
}
span.flag_de
{
    background-image: url(/images/nflag/de.png); /** sprite-ref: flags; */
}
span.flag_dk
{
    background-image: url(/images/nflag/dk.png); /** sprite-ref: flags; */
}
span.flag_es
{
    background-image: url(/images/nflag/es.png); /** sprite-ref: flags; */
}
span.flag_fr
{
    background-image: url(/images/nflag/fr.png); /** sprite-ref: flags; */
}
span.flag_gb
{
    background-image: url(/images/nflag/gb.png); /** sprite-ref: flags; */
}
span.flag_gr
{
    background-image: url(/images/nflag/gr.png); /** sprite-ref: flags; */
}
span.flag_ie
{
    background-image: url(/images/nflag/ie.png); /** sprite-ref: flags; */
}
span.flag_in
{
    background-image: url(/images/nflag/in.png); /** sprite-ref: flags; */
}
span.flag_it
{
    background-image: url(/images/nflag/it.png); /** sprite-ref: flags; */
}
span.flag_my
{
    background-image: url(/images/nflag/my.png); /** sprite-ref: flags; */
}
span.flag_jp
{
    background-image: url(/images/nflag/jp.png); /** sprite-ref: flags; */
}
span.flag_kr
{
    background-image: url(/images/nflag/kr.png); /** sprite-ref: flags; */
}
span.flag_ma
{
    background-image: url(/images/nflag/ma.png); /** sprite-ref: flags; */
}
span.flag_tn
{
    background-image: url(/images/nflag/tn.png); /** sprite-ref: flags; */
}
span.flag_vn
{
    background-image: url(/images/nflag/vn.png); /** sprite-ref: flags; */
}
span.flag_mx
{
    background-image: url(/images/nflag/mx.png); /** sprite-ref: flags; */
}
span.flag_nl
{
    background-image: url(/images/nflag/nl.png); /** sprite-ref: flags; */
}
span.flag_pk
{
    background-image: url(/images/nflag/pk.png); /** sprite-ref: flags; */
}
span.flag_pl
{
    background-image: url(/images/nflag/pl.png); /** sprite-ref: flags; */
}
span.flag_pt
{
    background-image: url(/images/nflag/pt.png); /** sprite-ref: flags; */
}
span.flag_ro
{
    background-image: url(/images/nflag/ro.png); /** sprite-ref: flags; */
}
span.flag_ru
{
    background-image: url(/images/nflag/ru.png); /** sprite-ref: flags; */
}
span.flag_se
{
    background-image: url(/images/nflag/se.png); /** sprite-ref: flags; */
}
span.flag_tr
{
    background-image: url(/images/nflag/tr.png); /** sprite-ref: flags; */
}
span.flag_us
{
    background-image: url(/images/nflag/us.png); /** sprite-ref: flags; */
}
span.flag_zw
{
    background-image: url(/images/nflag/zw.png); /** sprite-ref: flags; */
}
span.flag_en
{
    background-image: url(/images/nflag/en.png); /** sprite-ref: flags; */
}
span.flag_aa
{
    background-image: url(/images/nflag/aa.png); /** sprite-ref: flags; */
}
span.flag_tw
{
    background-image: url(/images/nflag/tw.png); /** sprite-ref: flags; */
}
span.flag_id
{
    background-image: url(/images/nflag/id.png); /** sprite-ref: flags; */
}

span.flag_catalonia
{
    background-image: url(/images/nflag/catalonia.png); /** sprite-ref: flags; */
}

span.flag_ph
{
    background-image: url(/images/nflag/ph.png); /** sprite-ref: flags; */
}

span.flag_pl
{
    background-image: url(/images/nflag/pl.png); /** sprite-ref: flags; */
}

span.flag_sg
{
    background-image: url(/images/nflag/sg.png); /** sprite-ref: flags; */
}

span.flag_th
{
    background-image: url(/images/nflag/th.png); /** sprite-ref: flags; */
}

span.flag_ci
{
    background-image: url(/images/nflag/ci.png); /** sprite-ref: flags; */
}

span.flag_ng
{
    background-image: url(/images/nflag/ng.png); /** sprite-ref: flags; */
}

span.flag_sn
{
    background-image: url(/images/nflag/sn.png); /** sprite-ref: flags; */
}

span.flag_za
{
    background-image: url(/images/nflag/za.png); /** sprite-ref: flags; */
}

span.flag_eg
{
    background-image: url(/images/nflag/eg.png); /** sprite-ref: flags; */
}

span.flag_sa
{
    background-image: url(/images/nflag/sa.png); /** sprite-ref: flags; */
}

span.flag_ae
{
    background-image: url(/images/nflag/ae.png); /** sprite-ref: flags; */
}

span.flag_hk
{
    background-image: url(/images/nflag/hk.png); /** sprite-ref: flags; */
}
