<div id="contract" class="legal_contract">
<b><p>In order to optimize the protection of copyrighted content, and to strengthen its collaboration with copyright holders,
Dailymotion is the first video hosting website to use two content filtering solutions simultaneously.</p>
<p>These solutions are based on digital fingerprint detection, the distinctive audio or video elements which identify a singular piece of content.</p></b>

<div>
<div class="description_left">
<div class="background_5 light_border p_container">
<img src="/images/legal/audible_magic_logo.jpg" class="aubible_magic" width="144" height="31"/>

<p>In July 2007, Dailymotion implemented technology developed by Audible Magic. This filtering solution, based on the recognition of audio
fingerprints, can automatically detect copyrighted soundtracks.</p>

<p>Each time a video is uploaded to Dailymotion, a fingerprint is created and compared with Audible Magic's fingerprint database. If the match
is positive, the content will be automatically rejected. Leading companies of the media industry supply fingerprints to the Audible Magic
database in order to safeguard their content.</p>
Contact Audible Magic : <a href="mailto:support@audiblemagic.com">support@audiblemagic.com</a>
</div>

<div class="background_5 light_border  p_container">
<div class="img_ina_container">
<img src="/images/legal/ina_logo.jpg" class="ina_logo" width="107" height="42"/>
<img src="/images/legal/ina_signature_logo.jpg" class="ina_signature" width="111" height="42"/>
</div>
<p>To enhance its content protection system, in January 2008 Dailymotion implemented "Signature" technology developed by the INA
(Institut National de l'audivisuel), the largest center of digitized content in the world.</p>

<p>This innovative technology recognizes video fingerprints. Any content already supplied to INA's database will be automatically
detected and rejected before being put online. This technology is particularly effective with live broadcasted content. Signature
Technology is already being used to protect the content archives of INA, and has been adopted by key players of the cultural sector
such as Canal+ and Europa Corp.</p>

<p>These filtering solutions permit asset management alongside specific agreements, and thus allows rights holders to monetise
their content while creating a virtuous circle that benefits their online strategy.</p>
Contact INA : <a href="mailto:signature@ina.fr">signature@ina.fr</a>
</div>
</div>

<div class="aubible_magic_big"><img src="/images/legal/INA_en.jpg" width="379" height="500"/></div>
</div>
<br /><br />

<div class="conclusion_ina">
<br />
<b>Dailymotion vigorously encourages copyright holders to supply fingerprints to the Audible Magic and INA databases so that all copyrighted
content can be identified and filtered, and future uploads of infringing material prevented. </b>
</div>
</div>
