<div class="terms_container">
<h1>General Terms and Conditions</h1>
<h1>DAILYMOTION Service</h1>
<br/>
<h1>Article 1 – General Information</h1>
<p>DAILYMOTION SA, a Limited Company with a capital of 485 748,15 euros, with a principal place of business at 140, Boulevard Malesherbes 75017 Paris, France, registered at the Companies and Societies Register of Paris under number 483 487 112 (thereafter referred to as « DAILYMOTION ») operates a free video hosting platform which enables users to stream, upload, store, comment on and share videos available on the internet notably at the address www.dailymotion.com (or any other addresses owned or controlled by Dailymotion) (Platform, and/or on any other technical, communication or transmission protocols or platforms now known or hereafter devised, discovered or developed including, without limitation, mobile phones, IPTV platforms and devices, or television (hereinafter together referred to as the “Platform”).</p>
<p>DAILYMOTION has developed on its Platform some paid video on demand tools allowing DAILYMOTION content right holder’s partners to propose DAILYMOTION’s end-users to view video content  in exchange of payment (the “Service”).</p>
<p>The present general terms and conditions of use (the « Terms and Conditions ») govern, without prejudice to any applicable legal provisions, the use of the Service by any corporate entity or natural person (thereafter the « User »), excluding any other general terms and conditions applying to other services offered by DAILYMOTION.</p>

<h1>Article 2 – Description of Video on Demand Service</h1>
<p>To subscribe to the Service, the User must prior and expressly accept these Terms and Conditions and the specific conditions attached to each Content (viewing time, price, etc ...). In case of non compliance by a User of these Terms and Conditions, DAILYMOTION reserves the right to refuse or to withdraw access to this Service.</p>
<p>The Service allows the User to watch, at its own request, video content (without any downloading possibility) (hereinafter "Content") offered by DAILYMOTION content right holder’s partners against payment.</p>
<p>With the Service, the User may rent (without any downloading possibility),  any single Content or a package of Content offered by a DAILYMOTION content right holder’s partner for purchase for a limited time.</p>
<p>After the first viewing, a Content can be viewed by the User for a maximum variable time (depending on each Content item), which will be specified in the attached specific conditions.. The User undertakes to respect the intellectual property rights related to the purchased Content, being agreed that the User will especially not try by any means to copy or transfer it in violation of these Terms and Conditions or security tools attached to the Content.</p>

<h1>Article 3 - Equipment needed for access to the Service</h1>
<p>Unless if stated otherwise in the specific conditions attached to each item of Content, the Content are viewable only through PC and/or Mac.</p>
<p>Please note that connection costs arising from the use of the Service are not supported by DAILYMOTION and remain the User’s responsibility.</p>

<h1>Article 4 – Costs of use and payment</h1>
<h2>4.a Costs of use</h2>
<p>The cost of use of the Service is indicated in in the specific conditions attached to each item of Content that User wants to rent.
DAILYMOTION content right holder’s partners reserve the right to modify the prices applicable to their Content at any time and without notice, being however agreed that no modification will be applied to a current rent of Content</p>
<h2>4.b Payment of the price</h2>
<p>Whereas DAILYMOTION is providing its partners with some paid video on demand tools, Cleeng company is providing payment tools enabling Content purchase by the Users.
Each purchase made in the scope of the Service will have then to be made through the purchase of credits on the Cleeng platform.</p>
<p>As such, for any Content purchase, the User will feed his electronic Cleeng purse by credit card, according to a secured protocol.</p>
<p>By confirming the Content purchase, the User acknowledges that (i) the corresponding payment is made for the benefit of the Cleeng company (thereafter “Cleeng”), and (ii) he has read and accepted the terms and conditions of Cleeng available at the following address : http://cleeng.com/us/cleeng-user-agreement.</p>
<p>An invoice is immediately sent by Cleeng to the email address of the User as part of his purchase on the Service.
</p>
<p>The Content viewing may  be launched by the User as of payment validation.</p>
<p>Unless contrary evidence is brought by the User, Cleeng’s records will be considered as evidence of payments made by the User.</p>

<h1>Article 5 – Personal data</h1>
<p>The User data collected by DAILYMOTION (no banking information) are processed in accordance with the provisions of the PRIVACY POLICY of the Platform.</p>

<h1>Article 6 – Contact</h1>
<p>For any further information, DAILYMOTION may be directly contacted online through the "Contact" section of the Platform or by mail at the following address:</p>
<p>DAILYMOTION<br/>
140, Boulevard Malesherbes<br/>
75017 Paris</p>

<h1>Article 7 – Intellectual property</h1>
<p>All copyrights of Content reproduced and distributed via the Service are protected by Intellectual Property Law. Except as otherwise provided, any Content available through the Service is exclusively intended for personal and private use of the User.</p>
<p>All Content and any part of them (including but not limited to name, trade names, trademarks ...) available through the Service are the sole property of their respective right holders. These Content are individually protected by the applicable copyright laws and international conventions.</p>
<p>In particular, the User is not entitled without the DAILYMOTION prior written authorization, to – in whole or part – copy, reproduce, translate, excerpt, modify, transfer, sell, create derivative component of any element of the Content and/or the Service.</p>
<p>DAILYMOTION reserves the right to suspend the transmission of any Content and/or any User’s access to the Service if DAILYMOTION becomes aware of any infringement of the applicable laws by the User or of these Terms and Conditions.</p>

<h1>Article 8 – Responsibility: User’s obligations and policy rules concerning Service</h1>
<p>The User is authorized to use the Service for a personal purpose and shall not use it for business, commercial or promotional purposes. DAILYMOTION disclaims any and all liability for use of the Service that doesn’t comply with these Terms and Conditions.</p>
<p>The User warrants and represents that he will use the Service in accordance with these Terms and Conditions and guarantees DAILYMOTION from any claims, actions or any third party action or procedure in this regard.</p>
<p>The User declares that he fully understood the nature of the electronical networks  and their limits, and the fact that he must take all appropriate measures necessary to protect his data and software stored on his computer equipment from contamination by viruses that could be introduced by such third parties via the electronical networks.</p>
<p>The access to the Service is provided on a permanent basis with the exception that it may be subjected to periods of maintenance, update servers operations and possible exceptional interruptions and disruptions related to or resulting from force majeure. The User releases DAILYMOTION and its partners from any responsibility in this regard and waives all claims and/or proceedings against DAILYMOTION as such.</p>
<p>The User acknowledges that data transmissions over the electronical networks only benefits from relative technical reliability, being agreed they are circulating on heterogeneous networks with different technical characteristics and capabilities, which are sometimes saturated at certain times of the day. Accordingly, DAILYMOTION cannot be held liable for access speeds from other sites or external slowdowns, and this especially given the complexity of global networks of varying capacities of different subnets, the influx of users at certain times, etc.
DAILYMOTION reserves the right to suspend and/or disable any User’s access to the Service and/or any use by him/her if DAILYMOTION is informed his non-compliance of current regulations or these Terms and Conditions.</p>

<h1>Article 9 – Absence of any right of retraction – term – termination</h1>
<p>Unless if non applicable in the relevant territory, the User, natural person, acknowledges and expressly agrees that (i) provision of the Service begins from the validation of its registration to the Platform, which occurs before the end of the seven open day period described in the Consumer Code and (ii) acknowledges and consequently agrees to not benefit from the right of retraction related to the online sale. As a consequence, no request for retraction, cancellation or refund will be admissible.</p>

<h1>Article 10 – Miscellaneous</h1>
<p>10.1. If any of the provisions of these Terms and Conditions is declared invalid for any reason, the other provisions will remain applicable without any change.</p>
<p>10.2. These Terms and Conditions are subject to French law. In case of dispute, the parties will seek an amicable solution before any judicial action. In case of failure of these attempts, any contestation of the validity, interpretation and/or execution of the present Terms and Conditions shall be made, even in case of plurality of the defendants or in case of indemnifying third parties, to French jurisdictions.</p>
<p>10.3. All the provisions hereby presented which, by nature, extend beyond the termination of these Terms and Conditions, remain effective as long as they are not executed and they apply to the respective heirs and assignees.</p>
<p>10.4. The acceptance by the User of these Terms and Conditions constitutes the global agreement between the parties regarding the related matters and prevails over any other prior agreement concluded between the parties relative to the same matters and, unless otherwise stated in the present document, it may not be modified without the written consent signed by a representative empowered by the two parties.</p>
<p>10.5 In the event of conflict between one or more provisions of these Terms and Conditions and of the general terms of use Platform, the provisions of these Terms and Conditions shall prevail.</p>
<p>10.6 DAILYMOTION may modify all or part of these Terms and Conditions at any time.</p>

The 7th August 2012

<br/>
<br/>

<h1>Addendum as regard to Users’ subscriptions to the account of DAILYMOTION content right holder’s partners</h1>

<p>The Service is allowing each User to subscribe to account(s) of DAILYMOTION content right holder’s partners in order to get illimited access to any Content hosted on such account for the duration of his subscription (the « Subscription »). These specific terms and conditions set out the terms and conditions governing the Subscriptions.</p>
<p>Each Subscription shall start upon the date of the purchase made by the User on the Platform and shall continue for a 30 days period with automatic renewals. The User may be able to terminate his Subscription at any time through his personal settings, being agreed that such termination shall be effective upon the end of his current 30 days period of Subscription and that  the User will continue to have access to the Content until such termination date.</p>
<p>It is understood that a maximum of 5 simultaneous connections to the subscribed account shall be allowed.</p>
<p>Moreover, it is understood that the DAILYMOTION content right holder’s partners reserve the right to modify the Subscription price applicable to their accounts at any time, provided that a prior notice shall be sent to the Users having subscribed to such accounts. This modification of the monthly Subscription price shall take effect 30 days after the end of the current period of Subscription, being agreed that the User remains free to terminate his Subscription as indicated above if doesn’t approve this modification.</p>
<p>These specific terms and conditions complete the general Terms and Conditions as regard to the Subscriptions to accounts of DAILYMOTION content right holder’s partners. Except as specifically amended herein, all other terms and conditions of the general Terms and Conditions shall remain unchanged and shall continue in full force and effect. In case of any discrepancies between the general Terms and Conditions and These specific terms and conditions, the provisions of these specific terms and conditions shall prevail.</p>
</div>
