{% extends "layouts/site.html" %}

{% set is_responsive = true %}
{% set no_footer = true %}

{% block body_class %}{{ parent() }} error_page{% endblock %}

{% block title %}Dailymotion - Error 500{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css_pack_url('error_page-500') }}" />
{% endblock %}

{% block scripts_bottom %}
    {{ parent() }}
    <script>stack_trace = "{{ stack_trace }}";</script>
    <script src="{{ js_bundle_url('common') }}"></script>
    
      {% set common_js_bundle_url = 1 %}
    <script src="{{ js_bundle_url('error_page-500') }}"></script>
{% endblock %}

{% block header %}
    {% include '/shared/header/_site.html' %}
{% endblock %}

{% block content %}
    {% include 'error/page-500/page-500.trans.html' %}
    {% include 'error/suggestions/suggestions.trans.html' %}
    <div id="react-root"></div>
    <noscript>Error 500</noscript>
{% endblock %}
