.a-search__form {

  position: relative;
  display: flex;
  height: 46px;
  align-items: center;
  z-index: 2;

  &__recent {

    display: none;

    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    margin-top: -7px;
    width: 500px;
    box-shadow: 0 2px 4px 0 rgba(black, .51);
    border-radius: 4px;
    width: 100%;

    > h2 {
      border-radius: 4px 4px 0 0;
      display: flex;
      text-align: left;
      align-items: center;
      height: 30px;
      font-size: 14px;
      background-color: #F5F5F5;
      color: #404040;
      padding-left: 18px;
    }

    > div {
      background-color: white;
      border-radius: 0 0 4px 4px;
      padding: 0 18px;
    }

    &__clear {
      font-size: 14px;
      text-align: right;
      color: black;
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;

      &:hover {
        color: #0066DC;
      }
    }

    &__i {

      display: flex;
      align-items: center;
      height: 42px;
      border-bottom: 1px solid #E6E6E6;
      font-size: 14px;
      color: #404040;
      text-align: left;

      &:hover {
        color: #0066DC;
      }

      &:last-child {
        border: none;
      }
    }

  }
}

.a-search__form__input {
  position: relative;
  width: 40vw;
  max-width: 400px;
  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    width: 40px;
    font-size: 0.875rem;

    &.icon-close-black {
      background: url('/images/icons/icon-close-black.svg') no-repeat center center;
      background-size: 16px;
    }
  }
  input {
    width: 100%;
    display: inline-block;
    border: none;
    line-height: 33px;
    padding-right: 40px;
    &:hover, &:focus {
      border: none;
      outline: none;
    }
  }
}

.a-search__form__recent__active {
  color: #0066DC;
  font-size: 14px;
  font-weight: 600;
}
