{% js_trans 'search/lists/videos' with
    {
      'viewers': {
          singular: 'viewer'|trans,
          plural: 'viewers'|trans,
      },
      'views': {
          singular: 'view'|trans,
          plural: 'views'|trans,
      },
      'followers': {
          singular: 'follower'|trans,
          plural: 'followers'|trans,
      },
      'videos': {
          singular: 'video'|trans,
          plural: 'videos'|trans,
      },
      'playlists': {
          singular: 'playlist'|trans,
          plural: 'playlists'|trans,
      },
    'by': 'by'|trans,
    }
%}
