.video-item {

  display: flex;
  flex-direction: column;
  width: 100%;

  &--playlist {
  }

  &__playlist-bg {
    display: flex;
    justify-content: center;
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      background-color: white;
      border: 2px solid #EBEBEB;
      position: absolute;
      height: 3px;
      position: absolute;
    }

    &:before {
      z-index: 1;
      top: -5px;
      left: 10px;
      right: 10px;
    }

    &:after {
      z-index: 0;
      top: -10px;
      left: 20px;
      right: 20px;
    }
  }

  &__thumb {
    position: relative;
    z-index: 2;
    flex: 1;
    margin-bottom: 10px;

    > div {
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      line-height: normal;
      z-index: 2;
      color: white;
      font-size: 12px;
      padding: 0 10px;
    }

    &__duration {
      background-color: black;
    }

    &__live {
      background-color: #FF003C;
    }

    &__videos-total {
      top: 10px;
      bottom: auto;
      background-color: rgba(black,.5);
      span:last-child {
        margin-left: 5px;
      }
    }

    img {
      display: block;
      width: 100%;
      max-height: 170px;
    }
  }

  &__description {
    text-align: left;
    color: #7F7F7F;

    &__title a {
      font-size: 18px;
      font-weight: 600;
      color: #404040;
    }

    &__channel {
      font-size: 16px;
      a {
        color: #0066DC;
      }
      .verified-badge {
        margin-left: 5px;
      }
    }

    &__infos {
      font-size: 14px;
      max-width: 100%;
    }

    &__sep {
      margin: 0 3px;
    }
  }

}
