{% helpers [
    'dm_criteo',
    'helper_header',
    'helper_adminpanel',
    'helper_footer',
    'helper_facebook',
    'helper_afterlogin',
    'helper_ga',
    'helper_partner',
    'helper_auth'
] %}

{% import 'macros/utils.html' as utils %}
{% extends 'layouts/base.html' %}

{% set smartalert = helper_header.getSmartAlert(context.request) %}
{% if helper_header.isMetaheaderAllowed(context.request) %}
    {% set metaheader = helper_header.getMetaHeader() %}
{% endif %}

{#
    DAILY-47028
    The display rule for metaheader / smart alert display should be (order of priority):
    1) Account confirmation smart alert (it alerts the user that he should validate his email if he wants to use all the features)
    2) Scheduled metaheaders
    3) The other smart alerts
 #}
{% if metaheader and smartalert and not helper_header.isPriviledgedSmartAlert(smartalert) %}
    {% set smartalert = null %}
{% endif %}

{% block env_top %}
    {# Fix IE "ins" element unknown #} document.createElement('ins');
    {{ add_env_top('DM_LoginCookie', get_config('LOGIN_INFOS_COOKIE_NAME')) }}
    {{ add_env_top('DM_Widget_PageItem_Search_language', context.language) }}
    {{ add_env_top('DM_Widget_PageItem_Autocomplete_locale', context.locale) }}
    {% if gatekeeper('ALGOLIA') %}
        {{ add_env_bottom('Sd_Header', {universalSearch: false}) }}
        {{ add_env_top('DM_Widget_PageItem_Search_autocomplete_enabled', 0) }}
        {{ add_env_top('DM_Widget_PageItem_Search_algolia_enabled', 1) }}
    {% else %}
        {{ add_env_top('DM_Widget_PageItem_Search_autocomplete_enabled', 1) }}
        {{ add_env_top('DM_Widget_PageItem_Search_algolia_enabled', 0) }}
    {% endif %}
    {{ add_env_top('MastheadSWFRevisionURL', static_url('/flash/masthead/masthead.swf')) }}
    {% if skin %}
        {{ add_env_top('DM_Skin_defaultParams', skin) }}
    {% endif %}
    {{ add_env_top('facebook_enabled', helper_facebook.isEnabled()) }}
    {% if context.request.hasParameter('search') %}
        {{ add_env_top('Sd_Header_search', context.request.getParameter('search')|trim) }}
    {% endif %}
    {% set afterLoginAction = helper_afterlogin.getAction() %}
    {% if afterLoginAction %}
        {{ add_env_top(afterLoginAction.key, afterLoginAction.value) }}
    {% endif %}
    {{ add_env_top('DisableOASVideosUploadedFrom' , get_config('DISABLE_INSTREAM_VIDEO_UPLOADED_FROM')) }}
    {{ parent() }}
{% endblock %}

{% block env_bottom %}
    {{ add_env_bottom('DM_Widget_Page', { authenticationLink: helper_auth.getAuthenticationLink(context.request) }) }}
    {{ add_env_bottom('DM_SocialAuth',
        {
            isAuthenticated: context.is_logged
        })
    }}

    {{ add_env_bottom('DM_Facebook',
        {
            appId : get_config('FACEBOOK_APP_ID'),
            isFacebookMapped: context.is_logged ? context.reader.isFacebookMapped() : false
        })
    }}

    {% set googlePlusConf = get_config('GOOGLEPLUS') %}
    {{ add_env_bottom('DM_GooglePlus',
        {
            _CLIENT_ID: googlePlusConf['CLIENT_ID'],
            _API_KEY: googlePlusConf['API_KEY']
        })
    }}

    {{ add_env_bottom('DM_HapYak', {
        'cssPath'     : css_url('/css/views/shared/video/annotations.scss'),
        'siteVersion' : context.version,
        'baseUrl'     : context.env == 'prod' ? '//hapyak.dmcdn.net' : '//hapyak-staging.dmcdn.net',
        'readerId'    : context.is_logged ? context.reader.opaqueId : ''

    }) }}
    {% if smartalert %}
        {{ add_env_bottom('DM_SmartAlertStrategist',
            {
                'serverside_smartalert': smartalert
            })
        }}
    {% endif %}

    {{ add_env_bottom('DM_TourLoader',
        {
            'readerEndedWelcomeTour': context.reader.hasEndedTour(),
        })
    }}

    {% if gatekeeper('CUSTOMER_SURVEY') %}
        {{ add_env_bottom('Sd_CustomerSurvey',
            {
                'surveyScriptURL': context.version == 'fr' ?
                    "https://www.research.net/jsEmbed.aspx?sm=_2fPD6oGduIcJmjzrREFYqQA_3d_3d&country=" ~ context.version ~ "&authenticated=" ~ (context.is_logged ? 1 : 0) :
                    "https://www.research.net/jsEmbed.aspx?sm=A2B1qqbJVO6m87AfpvGHKg_3d_3d&country=" ~ context.version ~ "&authenticated=" ~ (context.is_logged ? 1 : 0)
            })
        }}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% set site_lazy_assets = [
    '/js/lib/dm/social-auth.js',
    '@store.js',
    '@tipsy.js',
    '@smartalert.js',
    '#smartalert',
    '/js/lib/dm/search_videos.js',
    '/js/lib/dm/tour.js',
    '/js/lib/dm/alert.js',
    '/js/lib/bower/chromecast-sender/dist/dm-chromecast-sender.js',
    '/js/lib/select2.js',
    '/css/views/shared/select2-patched.ltr.css',
    '/js/views/shared/tour/welcome.js',
    '/js/views/shared/social/connectbutton.js',
    '/js/lib/bower/momentjs/moment.js',
    '#pickadatetime',
    '#widgetfactory',
    '/css/views/shared/flag.css'
    ]
%}
{% set lazy_assets = lazy_assets ? lazy_assets|merge(site_lazy_assets) : site_lazy_assets %}

{% block links %}
    {{ parent() }}
    {% for link in helper_seo.getLinks(context.request) %}
        <link {{ utils.attributes(link) }} />
    {% endfor %}
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{% trans %}Search videos on Dailymotion{% endtrans %}" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ css_pack_url('common') }}">
    {% if gatekeeper('ALGOLIA_SEARCH_DESKTOP') %}
    
        <link rel="stylesheet" href="{{ css_pack_url('search') }}">
    {% endif %}
    {{ parent() }}
    {% if not skin or 'user_' in skin.name %}
        {% include 'shared/_skincustomized.html' %}
    {% endif %}
{% endblock %}

{% block body_class %}
    {{ parent() }} lt_site{{ context.request.getAuth.isSUMode ? ' su_mode' }}
{% endblock %}

{% block dm_times_init %}
    <script type="text/javascript">
        window.dm_times = {
            start: (new Date()).getTime()
        };
    </script>
{% endblock %}

{% block dm_times_env_top %}
    <script type="text/javascript">
        dm_times.env_top = (new Date()).getTime();
    </script>
{% endblock %}

{% block dm_times_script_bottom %}
    <script type="text/javascript">
        dm_times.script_bottom = (new Date()).getTime();
    </script>
{% endblock %}

{% block mandatory %}
    <script src="{{ js_pack_url('mandatory') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block scripts_bottom %}{% endblock %}

{% block criteo %}
    {# CRITEO DAILY-21981 #}
    {% if dm_criteo.isEnabled() %}
        {{ dm_criteo.getScript()|raw }}
    {% endif %}
{% endblock %}
{% block displayads %}
{% endblock %}

{% block adminpanel_script %}
    {% if context.reader_is_admin %}
        <script type="text/javascript">
            PubSub.subscribe('dm:related:algo', function(algo)
            {
                window.relatedAlgorithm = algo;
            });
            PubSub.subscribe('page:ready', function()
            {
                setTimeout(function()
                {
                    DM_WidgetV3.addCss("{{ css_pack_url('adminpanel') }}");
                    DM_JS.load("{{ js_pack_url('adminpanel') }}", 'Sd_AdminPanel_AdminPanel');
                }, 500);
            });
        </script>
    {% endif %}
{% endblock %}

{% block smartalert %}
    {% if smartalert %}
        <script type="text/javascript" src="{{ js_pack_url('smartalert') }}"></script>
    {% endif %}
{% endblock %}

{% block boomr_call %}
    <script type="text/javascript">window.bottomBOOMR && bottomBOOMR();</script>
{% endblock %}

{% set seamless = context.request.hasParameter('seamless') ? true : false %}
{% set no_footer = seamless or no_footer %}

{% block body %}

    {% include 'js_lib_translations/_facebook.html' %}
    {% include 'js_lib_translations/_register.html' %}
    {% include 'js_lib_translations/_authentication.html' %}

    {% if context.reader.isUnconfirmed() %}
        {% include 'js_lib_translations/_alert.html' %}
    {% endif %}

    {% block masscast_x28 %}{% endblock %}
    {% block masscast_x29 %}{% endblock %}

    {% if not smartalert and metaheader %}
        {% include 'shared/_metaheader.html' with {metaheader: metaheader}%}
    {% endif %}

    {% if not seamless %}
        {% block header %}
            {% include 'shared/header/_site.html' %}
        {% endblock %}
    {% endif %}

    {% block navigation_panel %}
        {% include 'shared/_navigation_panel.html' %}
    {% endblock %}

    <div id="topwrapper" {% if no_footer %}class="no_footer"{% endif %}>
        {% spaceless %}
        <div class="topwrapper_content_wrapper">{% block topwrapper_content %}{% endblock %}</div>
        <div id="wrapper" class="{{ skin.padding_top_wrapper }}">
            <div id="top_banner">
                {% block ads_top %}{% endblock %}
                {% if not skin or skin.name == 'default' %}
                    {% block masscast_top %}{% endblock %}
                {% endif %}
                {% block top_banner %}{% endblock %}
            </div>

            {% block notice %}
                {% include 'shared/_oldienotice.html' %}
            {% endblock %}

            <div id="content" {{ full_page ? 'class="fluid"' }} {{ schema_org_itemscope }}>
                {% block masscast_right %}{% endblock %}

                {% block schema_org %}{% endblock %}
                {% block nav %}{% endblock %}

                {% for data in notices %}
                    {{ utils.alert({title:data.title, message:data.message, type:data.type}) }}
                {% endfor %}

                {% if helper_partner.showPromoForUser(context.reader) %}
                    {% include 'shared/_officialpromo.html' %}
                {% endif %}

                {% block pre_content %}{% endblock %}

                {% block content %}{% endblock %}

                <div id="bottom_banner"></div>
                {% block ads_bottom %}{% endblock %}
                {% block masscast_bottom %}{% endblock %}
            </div>
        </div>
        {% endspaceless %}
        {% block content_bottom %}{% endblock %}
        {% block ads_out_of_page %}{% endblock %}
    </div>

    {% if not no_footer %}
        {% block footer %}
            {% include 'shared/_footer.html' %}
        {% endblock %}
    {% endif %}

    {% if gatekeeper('LIFTIGNITER_ALLOWED')  %}
        {# LIFTIGNITER #}
        <script type="text/javascript">
            PubSub.subscribe('dm:related:algo', function(algo)
            {
                window.liftigniterData = {
                    relatedAlgorithm: algo
                }
            });
            DM_ResourcePlanner.add(
                'stat',
                function()
                {
                    if (!window.liftigniterData) {
                        setTimeout(arguments.callee, 2000)
                        return;
                    }
                    (function(w,d,s,p,v,e,r) {w['$igniter_var']=v;w[v]=w[v]||function(){(w[v].q=w[v].q||[]).push(
                    arguments)};w[v].l=1*new Date();e=d.createElement(s),r=d.getElementsByTagName(s)[0];e.async=1;
                    e.src=p+'?ts='+(+new Date()/3600000|0);
                    r.parentNode.insertBefore(e,r)})(window,document,'script','//cdn.petametrics.com/ih1aak4h3agrsu97.js','$p');
                    $p("init", "ih1aak4h3agrsu97");
                    $p("send", "pageview");
                }
            );
        </script>
    {% endif %}

    {% if context.geoip_country in get_config('EFFECTIVE_MEASURES_COUNTRIES') %}
        <!-- BEGIN EFFECTIVE MEASURE CODE -->
        <!-- COPYRIGHT EFFECTIVE MEASURE -->
        <script type="text/javascript">
            DM_ResourcePlanner.add(
                'stat',
                function()
                {
                    var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
                    em.src = ('https:' == document.location.protocol ? 'https://me-ssl' : 'http://me-cdn') + '.effectivemeasure.net/em.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
                }
            );
        </script>
        <noscript>
            <img src="https://me.effectivemeasure.net/em_image" alt="" style="position:absolute; left:-5px;" />
        </noscript>
        <!--END EFFECTIVE MEASURE CODE -->
    {% endif %}

{% endblock %}

{% block socialasyncloader %}
    {% include 'shared/_fbasyncloader.html' %}
    {% include 'shared/_gplusasyncloader.html' %}
{% endblock %}
