{% helpers [
    'helper_staticassets',
    'helper_base',
    'helper_seo',
    'helper_pagination',
    'helper_skin',
    'helper_eventbus',
] %}
<!DOCTYPE html>
<html xml:lang="{{ context.rfc1766_language }}" lang="{{ context.rfc1766_language }}" dir="{{ context.direction }}" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# dailymotionapp: http://ogp.me/ns/fb/dailymotionapp#">
    {% block dm_times_init %}{% endblock %}
    {% if helper_base.isCacheable(context.request) %}
        <script type="text/javascript" src="/__cookies"></script>
    {% endif %}
    {#
        SKINNING

        In templates inheriting base.html:

        - exclude_skin_css must be defined to prevent skin CSS to be included.
        - exclude_skin_user must be defined to prevent user skins CSS to be included (darknight, lavender, ...).
        - exclude_skin_customized must be defined to prevent skin customized CSS to be included.
        - page_user must be defined to be able to get skin customized.
    #}
    {% if not page_skin %}
        {% set page_skin = helper_skin.getForRequest(context.request) %}
    {% endif %}
    {% set skin = {} %}
    {% if page_skin and not exclude_skin_css %}
        {% if not helper_skin.isSkinUser(page_skin) or not exclude_skin_user %}
            {% set skin = page_skin.getData() %}
        {% endif %}
    {% endif %}

    {% block css %}
        {% for href in css %}
            <link rel="stylesheet" href="{{ href }}" />
        {% endfor %}
        {% if skin and skin.name  %}
            {% set skin_url = skinURL(skin.name ) %}
            {% if skin_url  %}
                <link rel="stylesheet" id="css_skin" href="{{ skin_url }}" />
            {% endif %}
        {% endif %}
    {% endblock %}

    {# MANDATORY #}
    <script type="text/javascript">
        {% if force_document_domain %}
            document.domain = 'dailymotion.com';
        {% endif %}
        {% include 'shared/_top-js.html' %}
    </script>

    {% if gatekeeper('OPTIMIZELY') %}
        <script type="text/javascript" src="//cdn.optimizely.com/js/3216390760.js"></script>
    {% endif %}

    {% set default_lazy_assets = [
        '@popup.js',
        '@form.js',
        '/js/lib/dm/notify.js',
        '#masscast_iframed',
        '/js/views/shared/user/subscribe.js',
    ] %}

    {% block assets_map %}
        {% set lazy_assets = lazy_assets|default([]) %}
        <script type="text/javascript">
            DMAssetsMap={{ helper_staticassets.getJSONHashs(default_lazy_assets|merge(lazy_assets))|raw }};
        </script>
    {% endblock %}

    {% set seo = helper_seo.getData(context.request) %}

    <title>{% block title %}{{ seo.title }}{% endblock %}</title>
    <meta name="description" content="{{ seo.meta_description }}" />

    {% block metas %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="language" content="{% block meta_lang %}{{ context.rfc1766_language }}{% endblock %}" />
        {% if not video.explicit %}
            <meta property="fb:app_id" content="96937694899" />
        {% endif %}

        <meta name="y_key" content="a87a0d996fe5f70f" />
        <meta name="msvalidate.01" content="42E38E6C5CF3C253563039FCD6F3F775" />

        {% if is_responsive %}
            <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" >
        {% endif %}

        {% for meta_attrs in seo.metas %}
            <meta {{ utils.attributes(meta_attrs) }}/>
        {% endfor %}

        {% if isIOS %}
            <meta name="apple-itunes-app" content="app-id=336978041" />
        {% endif %}

    {% endblock %}

    {% block links %}
        {% if context.request.routeName in ['video_list', 'user_list', 'playlist_list']  %}
            {% set pagination_params = helper_pagination.getParametersForRequest(context.request) %}
            {% if pagination_params.prev %}
                <link rel="prev" href="{{ pagination_params.prev }}" />
            {% endif %}
            {% if pagination_params.next %}
                <link rel="next" href="{{ pagination_params.next }}" />
            {% endif %}
        {% endif %}

        {# FAVICONS #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ static_url('/images/favicons/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ static_url('/images/favicons/apple-touch-icon-60x60.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ static_url('/images/favicons/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ static_url('/images/favicons/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ static_url('/images/favicons/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ static_url('/images/favicons/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ static_url('/images/favicons/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ static_url('/images/favicons/apple-touch-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('/images/favicons/apple-touch-icon-180x180.png') }}" />
        <link rel="icon" type="image/png" href="{{ static_url('/images/favicons/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ static_url('/images/favicons/android-chrome-192x192.png') }}" sizes="192x192" />
        <link rel="icon" type="image/png" href="{{ static_url('/images/favicons/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ static_url('/images/favicons/favicon-16x16.png') }}" sizes="16x16" />
        <link rel="manifest" href="{{ static_url('/images/favicons/manifest.json') }}" />
        <link rel="mask-icon" href="{{ static_url('/images/favicons/safari-pinned-tab.svg') }}" color="#0066dc" />
        <meta name="msapplication-config" content="{{ static_url('/images/favicons/browserconfig.xml') }}" />
        <meta name="msapplication-TileColor" content="#0066dc" />
        <meta name="msapplication-TileImage" content="{{ static_url('/images/favicons/mstile-144x144.png') }}" />
        <meta name="theme-color" content="#0066dc" />

    {% endblock %}

    {% block scripts_top %}
        {% for script in scripts.top %}
            <script src="{{ script }}" type="text/javascript" charset="utf-8"></script>
        {% endfor %}
    {% endblock %}

    <script type="text/javascript">
        DM_Context={{ dm_context|js_var|raw }};
        Stringified_DM_Context={{ stringified_dm_context|js_var|raw }};
        STATIC_BASE_URL = "{{ helper_staticassets.getStaticBaseURL(context.request) }}";
        {{ get_config('WEBPACK_MANIFEST_VARIABLE') }} = {{ helper_base.getWebpackManifest()|raw }};
        EB_WEB_ENDPOINT = "{{ helper_eventbus.getEndpointURL() }}";
        {% block env_top %}
            {% for key,value in env_top %}
                {{ key }} = {{ value|js_var|raw }};
            {% endfor %}
            {% for key,value in get_env_top() %}
                {{ key }} = {{ value|js_var|raw }};
            {% endfor %}
        {% endblock %}
    </script>
    {% block dm_times_env_top %}{% endblock %}
</head>
<body id="bodyall" class="{% if is_responsive %}responsive-grid{% endif %} {% block body_class %}{% endblock %}">

    {% block body %}{% endblock %}

    {% block dm_times_script_bottom %}{% endblock %}

    {% include 'js_lib_translations/_utils.html' %}

    <script type="text/javascript">
        {% block env_bottom %}
            {{ add_env_bottom('DM_ResourcePlanner',
                {
                    delayResources : true
                })
            }}
            {% for key,value in get_env_bottom() %}
                DM_ENV._add('{{ key }}', {{ value|js_var|raw }});
            {% endfor %}
        {% endblock %}
    </script>

    {% block mandatory %}{% endblock %}

    {% block scripts_bottom %}{% endblock %}

    {% if gatekeeper('ALGOLIA_SEARCH_DESKTOP') %}
        {% js_trans 'search/lists/channels' with
            {
                'followers': {
                    singular: 'follower'|trans,
                    plural: 'followers'|trans,
                },
                'videos': {
                    singular: 'video'|trans,
                    plural: 'videos'|trans,
                },
                'channels': {
                    singular: 'channel'|trans,
                    plural: 'channels'|trans,
                },
            }
        %}
        {% js_trans 'search/lists/videos' with
          {
              'viewers': {
                  singular: 'viewer'|trans,
                  plural: 'viewers'|trans,
              },
              'views': {
                  singular: 'view'|trans,
                  plural: 'views'|trans,
              },
              'followers': {
                  singular: 'follower'|trans,
                  plural: 'followers'|trans,
              },
              'videos': {
                  singular: 'video'|trans,
                  plural: 'videos'|trans,
              },
              'playlists': {
                  singular: 'playlist'|trans,
                  plural: 'playlists'|trans,
              },
              'Live': 'Live'|trans,
              'by': 'by'|trans,
          }
        %}

        {% js_trans 'search/search' with
            {
                'all': 'all'|trans,
                'clear_all': 'Clear all'|trans,
                'recent_searches': 'Recent searches'|trans,
                'search_placeholder': 'Search on Dailymotion'|trans,
                'loading': 'Loading...'|trans,
                'videos': 'videos'|trans,
                'playlists': 'playlists'|trans,
                'channels': 'Channels'|trans,
                'search_results': 'Search Results for'|trans,
                'no_results': 'No results found for %search_label%'|trans,
                'No results found for ': 'No results found for %(search_label)'|trans,
                'sorry_no_results': 'Sorry, we haven’t found any results for your request.'|trans,
                'try_no_results': 'Please try something less specific or take a look at these channels you might like.'|trans,
            }
        %}
        <script type="text/javascript">
            (function(){
                function loadScript(scriptLocationAndName){
                    var head = document.getElementsByTagName('head')[0];
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = scriptLocationAndName;
                    head.appendChild(script);
                }
                if(!window.webpackJsonp){
                    loadScript("{{ js_bundle_url('common') }}")
                }
                loadScript("{{ js_bundle_url('search') }}")
            })();
        </script>
    {% endif %}

    {% block adminpanel_script %}{% endblock %}

    {% block socialasyncloader %}{% endblock %}
    {% block smartalert %}{% endblock %}

    {% block external_scripts %}
        {% include 'shared/externalscripts/_externalscripts.html' %}
    {% endblock %}

    {% block criteo %}{% endblock %}

    {% if gatekeeper('ADBLOCK_DETECTION') %}
        {# ADBLOCK DETECTION - ClarityRay DAILY-35053 #}
        <script type='text/javascript'>setTimeout(function(){var o=document,h='d630cfe28a007f2037513ce0c0921b27',b=o.createElement("script");b.type="text/javascript";b.async=!0;var c=["http://8c199214ea1e482a074b-"+h+".r11.cf2.rackcdn.com","https://69764fc936c3e6241b5e-"+h+".ssl.cf2.rackcdn.com"];b.src=("https:"==o.location.protocol?c[1]:c[0])+"/nqobg3zlmkne.js";var d=o.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);}, 5000);</script>
    {% endif %}

    {% block boomr_call %}{% endblock %}

    {% if helper_base.needsCookiePolicy() %}
        {% set cookie_policy_link = build_uri('legal', {action: 'cookiespolicy'}) %}
        <div class="cookie_policy">
            <div class="wrapper">
                <p>
                    {% trans %}We use cookies to offer an improved online experience and offer you content and services adapted to your interests.<br> By using Dailymotion, you are giving your consent to our <a href="{{ cookie_policy_link }}">cookies</a>.{% endtrans %}
                </p>
            </div>
            <a class="cookie_policy__close icon icon-close2 js-cookie_policy_close"></a>
        </div>
        <script>
            if (!!store.get('cookie_policy_closed') === false)
            {
                $('.sd_footer').addClass('sd_footer--cookie_policy');
            }
        </script>
    {% endif %}

    <!-- twig -->
</body>
</html>
 
